* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
  }
body {
  background-color: #1f2020;
}

.rectangle {
  display: flex;
  width: 100%;
  height: 60px; 
  position: relative; /* Enable absolute positioning inside */
}

.purple, .blue {
  flex: 1;
  height: 100%;
}

.purple {
  background-color: #5e17eb;
}

.blue {
  background-color: #5271ff;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  white-space: nowrap;
}


.menu {
  display: inline-block;
  cursor: pointer;
  padding: 15px;  

}

.bar1, .bar2, .bar3 {
width: 45px;
height: 5px;
background-color: #fff;
margin: 6px 0;
cursor: pointer;
transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.wrapper {
width: 90%;
max-width: 25em;
background-color: #f5f5f5;
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 50%;
padding: 2em;
border-radius: 0.8em;

}

.app-details {
display: flex;
align-items: center;
flex-direction: column;

}

.app-icon {
width: 9.37em;
}
  
.app-title {
font-size: 1.6em;
text-transform: uppercase;
margin-bottom: 1em;
}

label {
display: block;
font-weight: 600;
}

input#amount {
font-weight: 400;
font-size: 1.2em;
display: block;
width: 100%;
border-bottom: 2px solid #02002c;
color: #737373;
margin-bottom: 2em;
padding: 0.5em;
}

input#amount:focus {
color: black;
border-color: #545454;
}

.dropdowns {
display: flex;
align-items: center;
justify-content: space-between;
gap: 1em;
}

select {
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.2em;
  background-color: #5271ff;
  color: #ffffff;
  border: 1px solid #5271ff;
  appearance: auto;
}

select option {
  background-color: #ffffff;
  color: #02002c;
}

button {
font-size: 1em;
width: 100%;
background-color: #5271ff;
padding: 1em 0;
margin-top: 2em;
border-radius: 0.3em;
color: #ffffff;
font-weight: 600;
}

#result {
font-size: 1.2em;
text-align: center;
margin-top: 1em;
color: #02002c;
background-color: #c6cff8;
padding: 0.8em 0;
min-height: 2em;
}
